:root {
  --font-medium: 500;
  /* --font-semiBold: 600; */
  --font-bold: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/******************************* Body *******************************/
body {
  padding: 0 1.5rem;
  transition: all 0.25s ease-in-out;
}
body h1 {
  font-size: 2.5rem;
  font-weight: var(--font-bold);
}
body h2 {
  font-size: 1.5rem;
  font-weight: var(--font-bold);
}
body p,
body a {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: var(--font-medium);
}

/******************************* NavBar *******************************/
.navbar .logo-text {
  font-size: 1.5rem;
  font-weight: var(--font-bold);
}
.navbar a {
  cursor: pointer;
}
.navbar button,
.my-work .card-body .btn {
  background: none;
  border: none;
  border-radius: 0.375rem;
}
.navbar button img {
  width: 1.5rem;
}
/******************************* AboutMe *******************************/
.about-me ul li img {
  width: 3rem;
}
/******************************* MyWork *******************************/
.my-work .card {
  border: none !important;
}
.my-work .card .card-body {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  height: auto;
}
/******************************* ContactMe *******************************/
.contact-me a i {
  font-size: 2.5rem;
}
.contact-me .copyright {
  font-size: 1rem;
  opacity: 0.5;
}
